@keyframes confetti {
    0%   {top: -10px; width: 15px;}
    25%  {transform: rotate(360deg); width: var(--width);}
    50%  {width: 15px; left: var(--left); width: 10px;}
    100% {top: 120%;}
}

.confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 0px;
    top: -10px;
    background-color: red;
    animation-name: confetti;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}